

.mkt{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.mkt h2{
    text-align: center;
    font-size: 1rem;
}

.mkt p{
    font-size: 0.8rem;
    /* color: gray; */
}

.mkt a{
    text-decoration: none;
    background-color: #008060;
    color: whitesmoke;
    padding: 0.7rem;
    border-radius: 4px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30rem;
    justify-content: space-between;
}

.perguntas{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 1rem;
}

.pergunta1{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 20px;
    position: relative;
    cursor: pointer;
}

.pergunta1::after{
    content: "Uma plataforma de vendas onlne";
    position: absolute;
    bottom: -1px;
    background-color: gray;
    color: white;
    padding: 5px;
    opacity: 0;
}

.pergunta1:hover::after{
    opacity: 1;
}

.pergunta2{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 35px;
    position: relative;
    cursor: pointer;
}

.pergunta2::after{
    content: "Uma plataforma de vendas onlne";
    position: absolute;
    bottom: -1px;
    background-color: gray;
    color: white;
    padding: 5px;
    opacity: 0;
}

.pergunta2:hover::after{
    opacity: 1;
}

.pergunta3{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 35px;
    position: relative;
    cursor: pointer;
}

.pergunta3::after{
    content: "Uma plataforma de vendas onlne";
    position: absolute;
    bottom: -1px;
    background-color: gray;
    color: white;
    padding: 5px;
    opacity: 0;
}

.pergunta3:hover::after{
    opacity: 1;
}

.pergunta4{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 35px;
    position: relative;
    cursor: pointer;
}

.pergunta4::after{
    content: "Uma plataforma de vendas onlne";
    position: absolute;
    bottom: -1px;
    background-color: gray;
    color: white;
    padding: 5px;
    opacity: 0;
}

.pergunta4:hover::after{
    opacity: 1;
}


.perguntas div a{
    text-decoration: none;
}

.link-final{
    gap: 2rem;
    /* align- */
}

.link-final a{
    text-decoration: none;
    color: #008060;
}